[submodule "playbooks/roles/ansible-role-drachtio"]
	path = playbooks/roles/ansible-role-drachtio
	url = git@github.com:davehorton/ansible-role-drachtio.git
[submodule "playbooks/roles/ansible-role-nodejs"]
	path = playbooks/roles/ansible-role-nodejs
	url = git@github.com:davehorton/ansible-role-nodejs.git
[submodule "playbooks/roles/ansible-role-rtpengine"]
	path = playbooks/roles/ansible-role-rtpengine
	url = git@github.com:davehorton/ansible-role-rtpengine.git
[submodule "playbooks/roles/ansible-role-fsmrf"]
	path = playbooks/roles/ansible-role-fsmrf
	url = git@github.com:davehorton/ansible-role-fsmrf.git
[submodule "playbooks/roles/ansible-role-fail2ban-drachtio"]
	path = playbooks/roles/ansible-role-fail2ban-drachtio
	url = git@github.com:davehorton/ansible-role-fail2ban-drachtio.git
